.container-fluid{
    margin-top: 0px;
    color: white;
}
nav{
    margin-bottom: 40px;
    background-color: #0f0f19;
}
.bg{
    background-color: #0f0f19;
}
body{
    color: white;
    overflow-x: hidden;
}

.space{
    margin-top: 16px;
    margin-left: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px white;;
}

.link{
    transition: 1s;
}


.link:hover{
    color: #f7b940 !important;
}

#about{
    color: white;
    font-family: 'Rajdhani', serif;
    font-size: 23px;
    text-underline-offset: 13px;
}

#skills{
    background-color: #112b3b;
    font-family: 'Rajdhani', serif;
}

#services{
    background-color: #1b1e22;
    font-family: 'Rajdhani', serif;
}

#services1{
    background-color: #1b1e22;
}

#completed{
    background-color: #112b3b;
}

.space-grid{
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 400;
    padding-left: 60px;
}

.MPS{
    font-weight: 700;
}

.txta{
    margin-left: 10px;
    margin-top: 16px;
    width: 550px;
    height: 150px;
    border:1px solid black;
    padding: 15px;
    color: rgb(72, 72, 72);
    font-weight: 500;
}


.adjustment{
  margin-bottom: 15px;
  margin-left: 10px;
  width: 550px;
  border:1px solid black;
  padding: 15px;
  border-radius: 0px;
  background-color: transparent;
  color: rgb(72, 72, 72);
  font-weight: 500;
}

.txtc{
    color: #535353;
}


input::placeholder {
    color:#939393;
    opacity: 1; /* Firefox */
}

.hov{
    transition: 0.3s;
}


.hov:hover{
    background-color: #f7b940;
}
